---
layout: default
---
{{content}}

{% for item_hash in site.data.techs.genericlists %}
  {% if item_hash[0] == page.my_list %}
    {% assign topiclist = item_hash[1] %}
  {% endif %}
{% endfor %}

<table>
  <tr>
    <th scope="col">Summary</th>
    <th scope="col">Link</th>
    <th scope="col">More info</th>
    <th scope="col">Tweet</th>
  </tr>
{% for item in topiclist %}
  <tr>
    <td>{{ item.title }}</td>
    <td><a href="{{ item.articleLink }}">Link</href></td>
    <td>{{ item.desc }}</td>
    <td><a href="{{ item.tweetLink }}">Tweet</href></td>
  </tr>
{% endfor %}
</table>
